.u-section-1 .u-sheet-1 {
  min-height: 447px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 166px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 221px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  font-family: Montserrat, sans-serif;
  margin: 9px 235px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 387px;
}

.u-section-1 .u-container-layout-3 {
  padding: 3px 30px;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-size: 2.25rem;
  margin: -383px 30px 0 620px;
}

.u-section-1 .u-form-1 {
  height: 307px;
  margin: 11px 30px 26px 600px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 137px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 135px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -357px;
    margin-right: 0;
    margin-left: 450px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 37px;
    margin-right: auto;
    margin-left: -28px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 185px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 120px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -316px;
    margin-right: -20px;
    margin-left: 250px;
  }

  .u-section-1 .u-form-1 {
    margin: 9px -20px 28px 230px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 26px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 204px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 145px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 126px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 366px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -341px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-form-1 {
    width: 510px;
    margin: 13px auto 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 230px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-top: -222px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -6px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}